PORT=3733
DATA_ROOT=./data
STREAMS_API_URL=http://host.docker.internal:3732
SLS_API_KEY=replace_with_a_long_random_value
PUBLIC_BASE_URL=http://localhost:3733
OVERLAYS_USERNAME=
OVERLAYS_PASSWORD=
REQUEST_TIMEOUT_MS=3000
